<!DOCTYPE html>
<html lang="en">
<head>
    <!--Include Javascript files from words/static/-->
    {% load static %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block scripts %}<!--Additional scripts as needed for the specific page-->{% endblock %}
    <!--Include css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <title>{% block title %}DataMuse-Viz{% endblock %}</title>
</head>
<body>
    <div id="table">
	    <!--Navbar with tabs at top of page-->
        <nav class="navbar navbar-default" style="margin-bottom: 0">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">DataMuse-Viz</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="{{ navbar_index }}"><a href="{% url 'index' %}">Home</a></li>
                    <li class="{{ navbar_wordset_create }}"><a href="{% url 'wordset_create' %}">Create Word Set</a></li>
                    <li class="{{ navbar_wordsets }}"><a href="{% url 'wordsets' %}">Word Sets</a></li>
                    <li class="{{ navbar_visualization_frequency }}"><a href="{% url 'viz frequency' %}">Word Frequencies Visualization</a></li>
                    <li class="{{ navbar_frequency_scatterplot }}"><a href="{% url 'viz frequency scatterplot' %}">Word Frequencies Scatterplot</a></li>
                    <li class="{{ navbar_related_words }}"><a href="{% url 'viz related words' %}">Related Words Visualization</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <!--Display username and logout button-->
                        <li class="navbar-text">User: {{ user.get_username }}</li>
                        <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                    {% else %}
                        <!--Show link to create account-->
                        <li><a href="{% url 'user registration' %}?next={{request.path}}">User Registration</a></li>
                </ul>
                    <!--Display login form (continues else)-->
                <form class="navbar-form navbar-right" method="post" action="{% url 'login' %}?next={{request.path}}">
                    {% csrf_token %}
                    <label for="id_username">Username:</label>
                    <input id="id_username" type="text" name="username"/>
                    <label for="id_password">Password:</label>
                    <input type="password" name="password" id="id_password"/>
                    <input type="submit" value="Log in"/>
                </form>
                    {% endif %}
            </div>
        </nav>

        <div>
                {% block content %}<!--main page content-->{% endblock %}
        </div>
    </div>
</body>
</html>