td, th {
  border: 1px solid #dddddd;
  padding: 6px;
  }

tr:nth-child(even) {
  background-color: #dddddd;
}

.row {
    display: flex;
}

.row .col {
    display: flex;
    align-items: stretch;
}

.row .col .panel {
    width: 100%;
}

.form-group {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 5px;
}