{% extends "words/base_generic.html" %}

{% block content %}
<div id="about" class="col-md-offset-2 col-xs-offset-2 col-lg-8 col-sm-8 col-xs-8">
    <div class="row scroll">
        <div class="col-md-offset-1 col-xs-offset-1 col-lg-10 col-sm-10 col-xs-10">
            <h3 style="text-align: center; margin-right: 25px;">DataMuse-Viz</h3>
            <p>
                <b>Note that clicking on a link will cause the browser to visit that page and "back" will
				cause a reload of the visualization page.  Right click on a link to open that page in a new tab.</b>
            </p>
            <p>This site makes use of the
                <a href="http://www.datamuse.com/api/">DataMuse api</a> and
                <a href="https://github.com/margaret/python-datamuse">python-datamuse</a>
                to provide visualizations illustrating relationships between words.
            </p>
        </div>
    </div>
</div>
{% endblock %}