{% extends "words/visualization_generic.html" %}

{% block scripts %}<!--Specific script(s) used for word relationships visualization-->{% endblock %}

{% block viz %}
    {% if result_dict %}
        <script type="module">
            // convert result_dict to format digestible by js
            var result_dict = {{result_dict|safe }};

            // Load the D3 Observable runtime and inspector.
            import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";

            // Display debug messages in browser console
            new Runtime().module(notebook, name => {
              return {
                pending() { console.log(`${name} is running…`); },
                fulfilled(value) { console.log(name, value); },
                rejected(error) { console.error(error); }
              };
            });

            // Radial Dendrogram Chart notebook, compiled as an ES module.
            import notebook from "https://api.observablehq.com/@joncros/radial-dendrogram.js?v=3";

            // Load the chart and controls
            const main = new Runtime().module(notebook, name => {
              if (name === "chart") {
                return new Inspector(document.querySelector("#visualization"));
              }
              else if (name === "viewof max") {
                return new Inspector(document.querySelector("#max"));
              }
              else if (name === "viewof remove_from_end") {
                return new Inspector(document.querySelector("#remove_from_end"));
              }
            });

            //Reload chart using appropriate data
            main.redefine("data", result_dict);

        </script>

    {% endif %}
{% endblock %}

{% block viz-text %}
<p>
    This chart is a radial dendrogram showing words related to a given word. Type a word and select one or more
    relations to display on the chart. Information and examples for each relationship type can be found on
    <a href="{% url 'index' %}">the home page</a>.
</p>
<p>
    If some words are difficult to read, you can hover your cursor over each word to see the word. Hovering over the
    name of a relation will show the number of words belonging to that relation that are included in the chart (i.e.,
    hovering over "synonyms" will show the number of synonyms displayed on the chart). Hovering over the word in the
    center will show the total number of related words displayed.
</p>
<p>
    The source code for this chart can be found at <a href="https://observablehq.com/@joncros/radial-dendrogram">
    https://observablehq.com/@joncros/radial-dendrogram</a>.
</p>
{% endblock %}

{% block viz-controls %}
    {% if result_dict %}
        <p>
            If you wish to reduce the number of words displayed in the chart, use these controls below.
        </p>
        <div id="max" class="form-group"></div>
        <div id="remove_from_end" class="form-group"></div>
    {% endif %}
{% endblock %}

{% block visualization_form %}
    <p>Enter word and relations to generate visualization from:</p>
    <form class="form-inline" action="" method="post">
        <!--Form used to input a single word (optionally adding it to a WordSet) for the DataMuse query-->
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div id="form-errors" class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <div>
            <div class="col-lg-1 col-sm-1 col-xs-1">
                {{ form.word.label_tag }}
            </div>
            <div class="col-lg-11 col-sm-11 col-xs-11">
                {{ form.word }}
                {{ form.word.errors }}
            </div>
        </div>

        {% for field in form %}
            {% if 'checkbox' in field.as_widget %}
                <div class="col-lg-1 col-sm-1 col-xs-1">
                {{ field.label_tag }}
                </div>
                <div class="col-lg-11 col-sm-11 col-xs-11">
                {% for checkbox in form.relations %}
                    <label class="checkbox-inline">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                {% endfor %}
                </div>
            {% endif %}
        {% endfor %}

        <input type="submit" class="btn btn-primary button" value="Submit">
    </form>
{% endblock %}