{% extends "words/visualization_generic.html" %}

{% block viz %}
    {% if word_data %}
        <script type="module">
            // convert result_dict to format digestible by js
            var word_data = {{word_data|safe }};

            // Load the D3 Observable runtime and inspector.
            import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";

            // Display debug messages in browser console
            new Runtime().module(notebook, name => {
                return {
                    pending() { console.log(`${name} is running…`); },
                    fulfilled(value) { console.log(name, value); },
                    rejected(error) { console.error(error); }
              };
            });

            // Scatterplot chart D3 notebook, compiled as an ES module.
            import notebook from "https://api.observablehq.com/@joncros/scatterplot.js?v=3";

            // Load the chart
            const main = new Runtime().module(notebook, name => {
              if (name === "chart") {
                return new Inspector(document.querySelector("#visualization"));
              }
            });

            // Pass word_data to chart and display it on page
            main.redefine("ar", word_data);
        </script>
    {% endif %}
{% endblock %}

{% block viz-text %}
<p>
    This chart is a scatter plot showing the words in a selected Word Set. It plots the relationship between a word's
    frequency (the vertical axis) and the number of occurrences of the word in the Word Set (the horizontal axis).
</p>
<p>
    Frequency indicated the number of times the word is used per million words of English text, according to Google Book Ngrams via
    Datamuse.
</p>
<p>
    Placing your cursor over a word will show the values for f (the frequency) and num (the number of occurrences
    in the Word Set).
</p>
<p>
    The source code for this chart can be found at <a href="https://observablehq.com/@joncros/scatterplot">
    https://observablehq.com/@joncros/scatterplot</a>.
</p>
{% endblock %}

{% block visualization_form %}
    <p>Select Word Set to generate visualization from</p>
    <form class="form-inline" action="" method="post">
        <!--Form used to choose a WordSet to generate the visualization from-->
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
        <p><a href="{% url 'wordset_create' %}?next={{request.path}}">Create New Word Set</a></p>
    </form>
{% endblock %}