{% extends "base_generic.html" %}

{% block title %}Visualization: {{ viz_title }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="panel-group">

        <!--Row 1: Visualization chart, text and additional controls-->
        <div class="row">
            <div id="legend" class="panel panel-default col-lg-3 col-sm-3 col-xs-3">
                <!--Explanatory text and controls belonging to visualization here-->
                <div class="panel-body">

                {% block viz-text %}
                    <p>documentation</p>
                    <p>
                        documentation documentation documentation documentation documentation
                        documentation documentation documentation documentation documentation
                        documentation documentation documentation documentation documentation
                    </p>
                    {% endblock %}
                {% block viz-controls %} {% endblock %}
                </div>
            </div>

            <!--div chart for the acutal visualization-->
            <div id="visualization" class="col-lg-9 col-sm-9 col-xs-9">
                <!--visualization of DataMuse data here-->
                {% block viz %}<p>visualization</p>{% endblock %}
            </div>
        </div>

        <!--Row 2: Input Form-->
        <div class="row" class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default col-lg-12 col-md-12 col-sm-12">
                <div class="panel-body">
                    {% block visualization_form %}
                        <!--Form used to select the word or wordset to generate the visualization from-->
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
