{% extends "base_generic.html" %}

{% block content %}
<div class="container-fluid">
<div class="panel-group">
    <!--Row 1: Title/Subtitle -->
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12 title">
            <!-- <div id="maintitle"></div>
            <div id="subtitle"></div> -->
        </div>
    </div>

    <!--Row 2: Login/Logout-->
    <div class="row">
        <div id="auth" class="panel panel-default col-lg-3 col-sm-3 col-xs-3">
            <div class="panel-body">
                <!--Login/logout form (django.contrib.auth.forms) here-->
                {% if user.is_authenticated %}
                <!--Display username and logout button-->
                    <p>User: {{ user.get_username }}</p>
                    <p><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></p>
                {% else %}
                    <!--Display login form-->
                    {% if auth_form.errors %}
                        <p>Your username and password didn't match. Please try again.</p>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        {{ auth_form.as_p }}
                        <input type="submit" value="login"/>

                        {% comment %}
                        <label for="username">User name:</label>
                        <input type="text" name="username" value="" id="username">
                        <label for="password">Password:</label>
                        <input type="password" name="password" value="" id="password">
                        <input type="submit" value="login"/>
                        {% endcomment %}
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    <!--Row 3: Visualization Chart/Legend/Additional tools and buttons-->
    <div class="row">
        <div id="legend" class="panel panel-default col-lg-3 col-sm-3 col-xs-3">
            <!--Explanatory text and legend belonging to visualization here-->
            <div class="panel-body">
            <p>documentation</p>
            <p>documentation documentation documentation documentation documentation
                documentation documentation documentation documentation documentation
                documentation documentation documentation documentation documentation </p>
            {% block viz-text %} {% endblock %}
            {% block legend %} {% endblock %}
            </div>
        </div>

        <!--div chart for the acutal visualization-->
        <div id="visualization" class="col-lg-9 col-sm-9 col-xs-9">
            <!--visualization of DataMuse data here-->
            <p>visualization</p>
            {% block viz %} {% endblock %}
        </div>
    </div>

    <!--Row 4: Word Input Form-->
    <div class="row" class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Enter word to generate visualization from</p>
                <!--Form used to input a single word and query DataMuse re: that word-->
                <form class="form-inline" action="" method="post">
                    {% csrf_token %}
                    {{ word_form }}
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

    </div>
    </div>
</div>
{% endblock %}
