{% extends "words/visualization_generic.html" %}

{% block scripts %}<!--Specific script(s) used for word relationships visualization-->{% endblock %}

{% block viz %}
    {% if job_id %}
    <!--POST request, watch job for Datamuse request and load chart when ready-->
    <script type="module">
        // Load the D3 Observable runtime and inspector.
        import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";

        // Radial Dendrogram Chart notebook, compiled as an ES module.
        import notebook from "https://api.observablehq.com/@joncros/radial-dendrogram.js?v=3";

        var url = "{% url 'job json' job_id %}";
        var json_object;
        var interval = setInterval(function() {

            // retrieve job progress and update page
            $.getJSON(url, function(data) {
                if (data.status == "finished") {
                    // finished, stop checking job progress
                    clearInterval(interval);
                    $("#visualization").text("");

                    // get data to use for chart
                    json_object = data.result.json_object;

                    // if error occurred with datamuse query, display error
                    if (data.result.datamuse_error) {
                        // set text for div with id datamuse_error and show the div
                        $("#datamuse_error").text(data.result.datamuse_error);
                        $("#datamuse_error").show();
                    }

                    // if no result for some relations, display message
                    else if (data.result.relations_with_no_results) {

                        //format message
                        var relations_with_no_results = data.result.relations_with_no_results;
                        var relation_text = relations_with_no_results[0];
                        if (relations_with_no_results.length > 1) {
                            for (var i = 1; i < relations_with_no_results.length; i++) {
                                relation_text += ", " + relations_with_no_results[i];
                            }
                        }

                        $("#form-warning").append(relation_text);

                        // show div containing message
                        $("#form-warning").show();
                    }

                    if (json_object) {
                        // Data successfully retrieved from Datamuse, load the chart

                        // Display debug messages in browser console
                        new Runtime().module(notebook, name => {
                          return {
                            pending() { console.log(`${name} is running…`); },
                            fulfilled(value) { console.log(name, value); },
                            rejected(error) { console.error(error); }
                          };
                        });

                        // Load the chart and controls
                        const main = new Runtime().module(notebook, name => {
                          if (name === "chart") {
                            return new Inspector(document.querySelector("#visualization"));
                          }
                          else if (name === "viewof max") {
                            return new Inspector(document.querySelector("#max"));
                          }
                          else if (name === "viewof remove_from_end") {
                            return new Inspector(document.querySelector("#remove_from_end"));
                          }
                        });

                        //Reload chart using appropriate data
                        main.redefine("data", json_object);
                    }

                } else if (data.status == "failed") {
                    $("#visualization").text("Failure retrieving related words, please try again.");
                } else {
                    $("#visualization").text("Retrieving related words from Datamuse...");
                }
            })

        }, 1000);
    </script>

    {% endif %}
{% endblock %}

{% block viz-text %}
<p>
    This chart is a radial dendrogram showing words related to a given word. Type a word and select one or more
    relations to display on the chart. Information and examples for each relationship type can be found on
    <a href="{% url 'index' %}">the home page</a>.
</p>
<p>
    If some words are difficult to read, you can hover your cursor over each word to see the word. Hovering over the
    name of a relation will show the number of words belonging to that relation that are included in the chart (i.e.,
    hovering over "synonyms" will show the number of synonyms displayed on the chart). Hovering over the word in the
    center will show the total number of related words displayed.
</p>
<p>
    The source code for this chart can be found at <a href="https://observablehq.com/@joncros/radial-dendrogram">
    https://observablehq.com/@joncros/radial-dendrogram</a>.
</p>
{% endblock %}

{% block viz-controls %}
        <p>
            After the chart has loaded, there will be controls below here that can be used to reduce the number of
            words displayed.
        </p>
        <div id="max" class="form-group"></div>
        <div id="remove_from_end" class="form-group"></div>
{% endblock %}

{% block visualization_form %}
    <div id="form-warning" class="alert alert-info" style="display: none;">
        <!-- Div for warning if some relations have no results. Hidden by default. -->
        There were no words related to "{{root_word}}" for the relationship type(s):
    </div>

    <div id="datamuse_error" class="alert alert-danger" style="display: none;">
        <!--Error raised (when querying Datamuse) that prevented the chart from displaying. Hidden by default -->
    </div>

    <p>Enter word and relations to generate visualization from:</p>
    <form class="form-inline" action="" method="post">
        <!--Form used to input a single word (optionally adding it to a WordSet) for the DataMuse query-->
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div id="form-errors" class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <div>
            <div class="col-lg-1 col-sm-1 col-xs-1">
                {{ form.word.label_tag }}
            </div>
            <div class="col-lg-11 col-sm-11 col-xs-11">
                {{ form.word }}
                {{ form.word.errors }}
            </div>
        </div>

        {% for field in form %}
            {% if 'checkbox' in field.as_widget %}
                <div class="col-lg-1 col-sm-1 col-xs-1">
                {{ field.label_tag }}
                </div>
                <div class="col-lg-11 col-sm-11 col-xs-11">
                {% for checkbox in form.relations %}
                    <label class="checkbox-inline">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                {% endfor %}
                </div>
            {% endif %}
        {% endfor %}

        <input type="submit" class="btn btn-primary button" value="Submit">
    </form>
{% endblock %}