{% extends "words/base_generic.html" %}

{% block content %}
<div class="container-fluid">
<div class="panel-group">
    <!--Row 1: Title/Subtitle -->
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12 title">
            <!-- <div id="maintitle"></div>
            <div id="subtitle"></div> -->
        </div>
    </div>

    <!--Row 2: Login/Logout-->
    <div class="row">
        <div id="auth" class="panel panel-default col-lg-3 col-sm-3 col-xs-3">
            <div class="panel-body">
                <!--Login/logout form (django.contrib.auth.forms) here-->
                <p>Login</p>
            </div>
        </div>
    </div>

    <!--Row 3: Visualization Chart/Legend/Additional tools and buttons-->
    <div class="row">
        <div id="legend" class="panel panel-default col-lg-3 col-sm-3 col-xs-3">
            <!--Explanatory text and legend belonging to visualization here-->
            <div class="panel-body">
            <p>documentation</p>
            <p>documentation documentation documentation documentation documentation
                documentation documentation documentation documentation documentation
                documentation documentation documentation documentation documentation </p>
            {% block viz-text %} {% endblock %}
            {% block legend %} {% endblock %}
            </div>
        </div>

        <!--div chart for the acutal visualization-->
        <div id="visualization" class="col-lg-9 col-sm-9 col-xs-9">
            <!--visualization of DataMuse data here-->
            <p>visualization</p>
            {% block viz %} {% endblock %}
        </div>
    </div>

    <!--Row 4: Word Input Form-->
    <div class="row" class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Word form</p>
                {% block word_form %}
                <!--Form used to input a single word and query DataMuse re: that word-->
                {% endblock %}
            </div>
        </div>

    </div>
    </div>
</div>
{% endblock %}
