{% extends "base_generic.html" %}

{% block content %}
    <h1>Word Set: {{ wordset }}</h1>

    <h4>Description:</h4>
    <p>{{ wordset.description }}</p>

    <h4>Number of Words: {{ wordset.words.count }}</h4>

    {% if user.is_authenticated %}
        {% if user == wordset.creator %}
            <p><a href="{% url 'wordset_delete' pk=wordset.id %}">Delete Word Set</a></p>
        {% endif %}
    {% endif %}

    <h4>Charts (click the link and then press the "Submit" button at the bottom of the page)</h4>
        <ul>
            <li>
                <a href="{% url 'viz frequency'%}?id={{wordset.id}}">Word Frequencies Visualization</a>
            </li>

            <li>
                <a href="{% url 'viz frequency scatterplot'%}?id={{wordset.id}}">Word Frequencies Scatterplot</a>
            </li>
        </ul>

    {% if wordset.unrecognized_words %}
    <p>
        These words were not recognized by Datamuse when the Word Set was created (a sequence of letters and numbers may
        be a numeric escape sequence that is equivalent to a character that is not plain text; such as xa9 for the
        copyright symbol):
    </p>

    <p style="margin-left: 40px">
        {{ wordset.unrecognized_words|safe }}
    </p>
    {% endif %}

    {% if words_missing_data %}
    <h4>Words Missing Data</h4>

    <p>
        These words have no data because Datamuse did not respond when it was queried for the data.
    </p>

    <ul>
        {% for word in words_missing_data %}
            <li>{{ word.name }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h4>Words</h4>

    <ul>
        {% for membership in wordset.membership_set.all %}
            <li>{{ membership.word.name }}, occurrences: {{ membership.occurrences }}</li>
        {% endfor %}
    </ul>

{% endblock %}