{% extends "base_generic.html" %}

{% block content %}
    <h1>Word Set: {{ wordset }}</h1>

    <h4>Description:</h4>
    <p>{{ wordset.description }}</p>

    <h4>Number of Words: {{ wordset.words.count }}</h4>

    <h4>Words</h4>

    <ul>
        {% for membership in wordset.membership_set.all %}
            <li>{{ membership.word.name }}, occurrences: {{ membership.occurrences }}</li>
        {% endfor %}
    </ul>

    <h4>Charts</h4>
        <ul>
        <li>
            <a href="{% url 'viz frequency'%}?id={{wordset.id}}">Word Frequencies Visualization</a>
        </li>

        <li>
            <a href="{% url 'viz frequency scatterplot'%}?id={{wordset.id}}">Word Frequencies Scatterplot</a>
        </li>
        </ul>
    {% if user.is_authenticated %}
        {% if user == wordset.creator %}
            <p><a href="{% url 'wordset_delete' pk=wordset.id %}">Delete Word Set</a></p>
        {% endif %}
    {% endif %}

{% endblock %}