{% extends "base_generic.html" %}

{% block content %}
    <h1>WordSet: {{ wordset }}</h1>

    <h4>Description:</h4>
    <p>{{ wordset.description }}</p>

    <h4>Words</h4>

    <ul>
        {% for word in wordset.words.all %}
            <li>{{ word.name }}</li>
        {% endfor %}
    </ul>

    {% if user.is_authenticated %}
        {% if user == wordset.creator %}
            <p><a href="{% url 'wordset_delete' pk=wordset.id %}">Delete Word Set</a></p>
        {% endif %}
    {% endif %}

{% endblock %}